<% if flash[:messages] %>
	<% flash[:messages].each do |message| %>
	<p><%= message %></p>
	<%end%>
<%end%>

<form action='/users/create' method='post'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	<label for='email'>Email</label>
	<input id='email' type='text' name='newuser[email]'>
	<label for='name'>Name</label>
	<input id='name' type='text' name='newuser[name]'>
	<label for='password'>Password</label>
	<input id='password' type='text' name='newuser[password]'>
	<label for='password_confirmation'>Confirm Password</label>
	<input id='password_confirmation' type='text' name='password_confirmation'>
	<input type='submit' value='Join'>
</form>